/* any styles we just want to apply to App.js should go into App.css. */
/* If your application will have any global style rules, put them in index.css. */





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
padding-left: 20%;
padding-right: 20%;
padding-top: 50px;
padding-bottom: 50px;
font-size: 18px;
}

/* Header */
.box1 {
  background-color: white;
  text-align: center;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 225px;
  padding: 50px;
  border-bottom: grey 2px solid;
  width: 70%;
  
}

/* UserProfile */
.box2 {
  float: left;
  background-color: white;
  width: 10%;
  border-color: solid grey;
  border-width: 2px;
  /* margin-left: 10px; */
  padding: 10px;
  margin-left: 15%;
}

/* NewsFeed */
.box4 {
  float: left;
  margin: 30px;
  padding: 20px;
  border: grey 2px solid;
  background-color: white;
  width: 25%;
  padding-bottom: 44px;
  margin-left: 4%;
}

/* ProfilesList */
.box3 {
  float: left;
  background-color: white;
  width: 10%;
  margin: 30px;
  padding: 20px;
  border: grey 2px solid;
  position: relative;
  margin-left: -1%;
}

/* AboutMe */
.box5 {
  font-size: 1.25em;
  float: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: grey 2px solid;
}

.NavButton {
  background-color:white;
  border: solid;
  border-color: rgb(199, 198, 198);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  color: black;
  float: left;
}

.SearchBar {
  background-color:white;
  border-radius: 30px;
  border: solid;
  border-color: lightskyblue;
  padding: 15px 25px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  color: black;
  float: right;
  margin-right: 20px;
}

.TweetButton {
  background-color:white;
  border-radius: 30px;
  border: solid;
  border-color: lightskyblue;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  color: black;
  float: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 100px 150px 200px;
  text-align: center;
}

.column {
  padding: 16px;
  height: 250px;
  margin: 5px;
}

p1:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}

p1:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}